@use "@/assets/mixins.scss" as *;
@use "@/assets/variables.scss" as *;

section.section.unordinary-section {
  padding-top: 0;
  .page-head {
    background-color: $color-primary;
    .container {
      height: 1.92rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;

      .page-head-actions-container {
        display: flex;
        flex-direction: row;
        gap: 0.16rem;

        .action-button {
          background-color: $color-secondary;
          border: none;
          height: 0.4rem;
          width: fit-content;
          padding: 0 0.28rem;

          &:hover {
            cursor: pointer;
          }
        }

        .action-input {
          width: 3.4rem;
          height: 0.4rem;
          border: 2px solid white;
          padding: 0 0.2rem;
          color: $color-secondary;
          background-color: transparent;
        }
        .action-input::placeholder {
          color: #ededed;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    .contect {
      width: 100%;
      height: 100%;
    }
  }
}
