@use "@/assets/mixins.scss" as *;
@use "@/assets/variables.scss" as *;

header.section.tool-header-section {
  background-color: $color-primary;
  padding: 0.08rem 0;

  .container {
    justify-content: space-between;
    align-items: center;

    .logo-container {
      img.negative-logo {
        width: 0.92rem;
      }
    }

    nav.tools-nav {
      display: flex;
      gap: 0.8rem;

      .nav-item {
        text-decoration: none;
      }
    }
  }
}
