@use "@/assets/mixins.scss" as *;
@use "@/assets/variables.scss" as *;

.table-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;

  table.table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;

    thead {
      overflow: hidden;

      tr.table-header {
        height: 0.3rem;

        th.header-item {
          text-align: start;
          padding: 0.2rem;
        }

        th.header-item:first-child {
          border-top-left-radius: 15px;
        }

        th.header-item:last-child {
          border-top-right-radius: 15px;
        }
      }
    }

    tbody {
      tr.table-row {
        td.row-item {
          padding: 0.2rem;
          text-align: start;
          border-bottom: 1px solid #ddd;
        }
        &:nth-child(odd) {
          background-color: white;
        }
        &:nth-child(even) {
          background-color: whitesmoke;
        }

        &:last-child td {
          border-bottom: none;
        }
      }
    }
  }
}
