@use "@/assets/mixins.scss" as *;
@use "@/assets/variables.scss" as *;

section.section.collaborations-section {
  .container {
    display: flex;
    flex-direction: column;

    .collaborations-content {
      padding-top: 0.32rem;
      opacity: 0.7;

      .content-section {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        ul {
          padding-left: 0.12rem;

          li {
            font-size: 0.12rem;
            padding-bottom: 0.08rem;
            display: flex;
            align-items: center;
            gap: 0.08rem;

            .collaborator-link {
              text-decoration: none;
              border-bottom: 1px solid transparent;
              transition: border-color 0.3s ease-in-out;

              &:hover {
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }
    }
  }
}
