@use "@/assets/mixins.scss" as *;
@use "@/assets/variables.scss" as *;

section.section.contact-section {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .contact-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.16rem;

      .contact-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.12rem;
      }
      .contact-email {
        text-decoration: none;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 0.18rem;
      align-items: center;

      .form-input-container {
        width: 4rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.04rem;

        .form-input {
          border: 1px solid #b22b2480;
          height: 0.36rem;
          width: 100%;
        }

        .text-area {
          resize: none;
          height: 2.16rem;
        }
      }
    }
  }
}
